*{
    margin: 0;
    padding: 0;

}
body{
    background-color: gray;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    
   
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game{
height: 60vmin;
width: 60vmin;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1.5vmin;


}
.box{
    height: 19vmin;
    width: 19vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0, 0 ,0 ,0.3);
    font-size: 8vmin;
    color: red;
    background-color: antiquewhite;
}
#reset{
    padding:0.3rem;
    font: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1vmin;
    border:none;
    font-style: unset;
}
#new-btn{
    padding:1rem;
    font: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1vmin;
    border: none;

}
#msg{
    color:aliceblue;
    font-size: 8vmin;

}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}
.hide{
    display: none;
}